.button,
.switch,
.whole {
    display: flex;
    justify-content: center;
}

.form {
    width: 500px;
}

.btn {
    min-width: 150px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

#anchor {
    cursor: pointer;
    color: #0d6efd;
}

label {
    font-weight: bold;
}

input.ng-invalid.ng-dirty.ng-touched,
select.ng-invalid.ng-dirty.ng-touched {
    border: 1px solid firebrick;
}

input.ng-invalid.ng-dirty:focus.ng-touched,
select.ng-invalid.ng-dirty:focus.ng-touched {
    box-shadow: 0 0 0 3px rgba(228, 21, 21, 0.4);
}

.form-group {
    margin-bottom: 15px;
}

.spinner {
    position: absolute;
    left: 50%;
    top: 30%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn-primary-custom {
    background-color: #94315D;
    color: white;
    border: 0;
}