<div class="row">
    <div class="col-lg-12 text-lett">
        <h1 class="mt-5">{{ heading }}</h1>
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="vinoForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-sm-2 form-group">
                        <label for="id">Id</label>
                        <input 
                            type="number" 
                            id="id"
                            formControlName="id"
                            class="form-control">
                </div>
                <div class="col-sm-10 form-group">
                    <label for="nombre">Nombre</label>
                    <input 
                        type="text" 
                        id="nombre"
                        formControlName="nombre"
                        class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 form-group">
                        <label for="region">Región</label>
                        <input 
                            type="text" 
                            id="region"
                            formControlName="region"
                            class="form-control">
                </div>
                <div class="col-sm-6 form-group">
                    <label for="bodega">Bodega</label>
                    <input 
                        type="text" 
                        id="bodega"
                        formControlName="bodega"
                        class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 form-group">
                        <label for="anada">Añada</label>
                        <input 
                            type="number" 
                            id="anada"
                            formControlName="anada"
                            class="form-control">
                </div>
                <div class="col-sm-4 form-group">
                    <label for="graduacion">Graduación</label>
                    <input 
                        type="number" 
                        id="graduacion"
                        formControlName="graduacion"
                        class="form-control">
                </div>
                <div class="col-sm-4 form-group">
                    <label for="precio">Precio</label>
                    <input 
                        type="number" 
                        id="precio"
                        formControlName="precio"
                        class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 form-group">
                        <label for="capacidad">Capacidad</label>
                        <input 
                            type="number" 
                            id="capacidad"
                            formControlName="capacidad"
                            class="form-control">
                </div>
                <div class="col-sm-6 form-group">
                    <label for="stock">Stock</label>
                    <input 
                        type="number" 
                        id="stock"
                        formControlName="stock"
                        class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                        <label for="alergenos">Alergenos</label>
                        <input 
                            type="text" 
                            id="alergenos"
                            formControlName="alergenos"
                            class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">Descripción</label>
                        <textarea 
                            type="text" 
                            id="description" 
                            formControlName="descripcion"
                            class="form-control"
                            rows="6"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" formArrayName="uvas">
                    <div 
                        class="row" 
                        *ngFor="let uvaCtrl of controls; let i = index"
                        [formGroupName]="i">
                        <div class="col-sm-9">
                            <div class="form-group">
                                <label for="uva">Uva</label>
                                <input 
                                    type="text" 
                                    id="uva"
                                    formControlName="uva"
                                    class="form-control">
                            </div>
                        </div>
                        <!-- <div class="col-sm-10">
                            <div class="form-group">
                                <label for="uva">Uva</label>
                                <select 
                                    type="text" 
                                    id="uva"
                                    formControlName="uva"
                                    class="form-control">
                                    <option 
                                        *ngFor="let uva of listaUvas" 
                                        [value]="uva.id">
                                        {{ uva.nombre }}
                                    </option>
                                </select>
                            </div>
                        </div> -->
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="porcentaje">Porcentaje</label>
                                <input 
                                    type="text" 
                                    id="porcentaje" 
                                    formControlName="porcentaje"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <label for=""></label>
                            <button class="btn btn-danger form-control">X</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row cockpit">
                <div class="col-xs-12">
                    <button 
                        type="submit" 
                        class="btn btn-success">
                        Guardar
                    </button>
                    <button 
                        type="button" 
                        class="btn btn-danger"
                        (click)="onCancel()">
                        Cancelar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
