<div class="title">
  <h2>Uvas</h2>
  <div class="cockpit">
    <button 
      routerLink="/uvas/nueva" 
      class="btn btn-primary">
      Nueva uva</button>
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-xs-12 text-center">
      <table class="table">
          <thead>
              <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Editar</th>
                  <th scope="col">Eliminar</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let uva of listaUvas">
                  <td><strong>{{ uva.id }}</strong></td>
                  <td>
                      <a 
                      [routerLink]="['/uvas', uva.id]">
                          {{ uva.nombre }}
                      </a>
                  </td>
                  <td>
                      <a
                          [routerLink]="['/uvas', uva.id, 'editar']">
                          <img src="\assets\images\edit_pencil.png">
                      </a>
                  </td>
                  <td>
                      <a
                          (click)="onDeleteUva(uva.id)">
                          <img src="\assets\images\delete_bin.png">
                      </a>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
