<header class="navbar navbar-dark">
    <div class="container d-flex justify-content-between align-items-center">
        <a class="navbar-brand" routerLink="/home">
            <h1 class="brand">Bacchus</h1>
        </a>
        <a 
            *ngIf="!isLoggedIn"
            class="btn btn-outline-light" 
            routerLink="/auth">
            <img class="userIcon" src="\assets\icons\user.png">
            Iniciar Sesión
        </a>
        <a 
            *ngIf="isLoggedIn"
            class="btn btn-outline-light"
            (click)="onLogOut()" 
            routerLink="/auth">Cerrar Sesión</a>
    </div>
</header>