<div class="row">
    <div class="col-xs-12 title">
        <h3>{{ vino.nombre }}</h3>
        <button type="button" class="btn btn-danger">Eliminar</button>
        <button type="button" class="btn btn-warning">Editar</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h5>Bodega</h5>
        <p>{{ vino.bodega }}</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h5>Región</h5>
        <p>{{ vino.region }}</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h5>Tipo</h5>
        <p>{{ vino.tipo }}</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h5>Precio</h5>
        <p>{{ vino.precio }} €</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h5>Descripción</h5>
        <p>{{ vino.breveDescripcion }}</p>
    </div>
</div>