.title button {
    margin-right: 5px;
    margin-bottom: 5px;
    float: right;
}

.title h1 {
    float: left;
}

.title {
    margin-bottom: 5px;
}

.foto-vino {
    margin: 20px;
    float: left;
}
.foto-vino img {
    max-height: 300px;
}