<img class="home-img" src="\assets\images\vinedo2.jpg" alt="Fotografía de un viñedo">

<div class="container container-div">
    <div class="content-div">
        <div class="text-center">
            <h2>Vinos de la semana</h2>
            <hr>
        </div>
        <section class="d-flex justify-content-center flex-wrap">
            <ng-container *ngFor="let vino of vinosSemana">
                <app-card [vino] = vino></app-card>
            </ng-container>
        </section>
    </div>
</div>