.btn {
    width: 150px;
}

img {
    width: 20px;
}

a {
    cursor: pointer;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    button {
        width: 150px;
    }
}

tr:hover td {
    background-color: rgb(241, 241, 241);
}