/* You can add global styles to this file, and also import other style files */
body {
    background-color: #F6EEE8;
}

button.btn-primary-custom {
    display: inline-block;
	font-weight: 400;
	color: #212529;
	text-align: center;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	color: #fff;
	background-color: #94315D;
}

button.btn-primary-custom:hover {
    background-color: #A33667;
}

html,
body {
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

app-root {
    min-height: 100%;
    display: block;
    position: relative;
    padding-bottom: 174px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.container-div {
    margin-bottom: 35px;
    margin-top: 25px;
}

.content-div {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 25px;
    -webkit-box-shadow: 5px 5px 10px -3px rgba(92, 92, 92, 0.75);
    -moz-box-shadow: 5px 5px 10px -3px rgba(92, 92, 92, 0.75);
    box-shadow: 5px 5px 10px -3px rgba(92, 92, 92, 0.75);
}

.reduced-div {
    max-width: 800px;
}

.cockpit-bottom {
    float: right;
    margin-top: 15px;
    button {
        width: 150px;
    }
}

#anchor {
    color: #94315D;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

#anchor:hover {
    color: #A33667;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

@font-face {
    font-family: 'Roman SD';
    src: url('assets/fonts/Roman SD.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}