<footer class="jumbotron">
    <div class="text-center text-white">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-8 mt-2">
                    <p>¡Síguenos en Redes Sociales!</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="socials">
                        <a href="https://www.facebook.com/" class="text-white" target="_blank">
                            <img src="/assets/icons/socials/facebook.png" alt="Facebook">
                        </a>
                        <a href="https://www.twitter.com/" class="text-white" target="_blank">
                            <img src="/assets/icons/socials/twitter.png" alt="Twitter">
                        </a>
                        <a href="https://www.instagram.com/" class="text-white" target="_blank">
                            <img src="/assets/icons/socials/insta.png" alt="Instagram">
                        </a>
                    </div>
                </div>
            </div>
            <span>©2024 Bacchus</span>
        </div>
    </div>
</footer>
