<footer class="jumbotron">
    <div class="text-center text-white">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-8 mt-2">
                    <p>
                        ¡Síguenos en Redes Sociales!
                    </p>
                </div>
            </div>
            <div class="text-center socials">
                <a href="https://www.facebook.com/" class="text-white me-4" target="_blank">
                    <img src="\assets\icons\socials\facebook.png" alt="">
                </a>
                <a href="https://www.twitter.com/" class="text-white me-4" target="_blank">
                    <img src="\assets\icons\socials\twitter.png" alt="">
                </a>
                <a href="https://www.instagram.com/" class="text-white me-4" target="_blank">
                    <img src="\assets\icons\socials\insta.png" alt="">
                </a>
            </div>
            <span>©2024 Bacchus</span>
        </div>
    </div>
</footer>
